* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  background-color: darkslategray;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  width: 240px; 
  height: 320px;
  border-radius: 100%;
}

header p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 100%;
  font-size: 18px;
}

.header-content img {
  border-radius: 100%;
  border: 2px solid #fff;
}

.header-contact{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border-radius: 400px;
  border: 2px solid #ffffff;
  width: 240px;
  height: 240px;
}

.header-contact a {
  font-size: 16px;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: #272727;
  border: 1px solid #000000;
}

header:hover .header-contact {  
  display: flex;
} 

header:hover .header-content {
  display: none;
} 


.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  color: aliceblue;
}

.title-container h1 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}

.title-container pre { 
  font-size: 40px; 
  font-weight: 600;
  margin-bottom: 40px;
}

.title-container h2 {
  text-align: center;
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-top: 30px;
}

.proj-container {
  margin: 10px 20px;
  
}

.proj-container h3 {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
} 

.proj-container img {
  border-radius: 8px;
}

.proj-container:hover, .header-contact a:hover{
  opacity: 0.8;
  transform: scale(1.05);
  transition: .4s;
}