/*--------MEDIA QUERIES---------*/

@media (min-width: 390px) {
    .navbar {
        justify-content: space-between;
    }
    .services {
        flex-direction: column;
        gap: 20px;
        margin-top: 80px;
    }
    .card {
        width: 100%;
    }

    .menu {
        display: none;
    }
}