@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*RESETANDO CSS*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

body{
    font-family: 'Roboto', sans-serif;
}

/*MENU HAMBURGUER*/
#menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #263339;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    right: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    right: 0;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }


/*NAVBAR*/
.navbar{
    background: white;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #263339;
    font-size: 34px;
}

.logo h1:hover{cursor: pointer;}

.menu{
    flex: 70%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #263339;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 15px;
}

.menu a:hover{
    color: #FF2978;
    border-top: 4px solid #263339;
}

#botao{
    background: #263339;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #FF2978;
}


/*HEADER*/
.header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* background: rgb(237, 207, 207); */
    padding-top: 100px;
}

.headline{ /*== 50% de width*/
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black; */
}

.headline h2{
    font-weight:900;
    font-size: 20px;
    color: #263339;
}

.headline p{
    color: gray;
    text-align: left;
    margin: 16px 0;
}

.contatic-btn{
    display: inline-block;
    background: #FF2978;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.contatic-btn:hover{
    background: #263339;
}


.img-headline{ /*== 50% de width*/
    flex: 40%;
    margin-right: 10%;
    /* border: 1px solid rgb(255, 1, 43); */
    text-align: center;
}

/*SECTION*/
section{
    display: inline-block;
    margin: 80px 5% 0px 5%;
    width: 90%;
    /* border: 1px solid black; */
    padding: 5%;
    text-align: center;
}

section h2{
    width: 100%;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #263339;
}

.services{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;

}

.card{
    display: inline-block;
    width: 30%;
    margin: 1%;
    padding: 20px;
    border: 1px solid #FF2978;
    border-radius: 10px;
    cursor: pointer;
}

.card h3{
    margin: 18px 0px;
}

.card:hover{
    background: #FF2978;
    color: white;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .text-ocult{
    display: block;
}

.text-ocult{
    display: none;
}


/*FOOTER*/
footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(100deg, #180F4A, #090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;
}

.logo-rodape{
    padding: 100px;
    /* border: 1px solid white; */
}

.agencia{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
}

#whats{
    width: 80px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}